<% @tasks.each do |task| %>
  <h2><%= task.title %></h2>
  <p><%= task.description %></p>
  <%= link_to "task", task_path(task) %>
  <%= link_to "edit", edit_task_path(task) %>
  <%= link_to "delete", task_path(task), method: :destroy%>
<% end %>
